*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #f0f0f0;
}

.title{
    text-align: center;
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 40px;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100vh; /* Full viewport height */
}
.image-container {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
}
.image-container img {
    width: 100%;
    height: auto;
    max-width: 900px;
    max-height: 500px;
    display: inline-block;
}

.web-logo{
    text-align: left;
    padding-right: 50px;
}

.logo{
    width: 200px;
}

.custom-button.mdl-button--fab{
    float: right;
    background-color: white !important;
    color: grey !important;
    transform: scale(0.7);
}

.desc{
    text-align: center;
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: 30px;
}